{% extends "mainpage\base.html" %}
{% block content %}
    <h1>About:-</h1><h2>This is an Ads click predictor which takes two inputs, age and salary of a person and then predicts whether that person will click on any add shown to him or not.</h2>
    <br>
    <h1>Aim:-</h1><h2>To identify users who can click on shown advertisements, so that marketing of products can be done more efficiently.</h2>
    <h1>Algorithm used:-</h1><h2>K Nearest Neighbours(optimized using kd tree)</h2>
    <h1>Accuracy:-</h1><h2>97.5%</h2>
    <h1>Backend framework:-</h1><h2>Django</h2>
    <h1>Frontend framework:-</h1><h2>Bootstrap</h2>
{% endblock content %}